<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>ExportHTML</servlet-name>
        <servlet-class>Servlet.ExportHTML</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExportPDF</servlet-name>
        <servlet-class>Servlet.ExportPDF</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MainSubServlet</servlet-name>
        <servlet-class>Servlet.MainSubServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JavaBeanFillTemp</servlet-name>
        <servlet-class>Servlet.JavaBeanFillTemp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrossTableTotalServlet</servlet-name>
        <servlet-class>Servlet.CrossTableTotalHTMLServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrossTableTotalPDFServlet</servlet-name>
        <servlet-class>Servlet.CrossTableTotalPDFServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JiaofeiExcelServlet</servlet-name>
        <servlet-class>Servlet.JiaofeiExcelServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JiaofeiWordServlet</servlet-name>
        <servlet-class>Servlet.JiaofeiWordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaleReportChart</servlet-name>
        <servlet-class>Servlet.SaleReportChart</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ExportHTML</servlet-name>
        <url-pattern>/ExportHTML</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExportPDF</servlet-name>
        <url-pattern>/ExportPDF</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainSubServlet</servlet-name>
        <url-pattern>/Mainsub</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JavaBeanFillTemp</servlet-name>
        <url-pattern>/JavaBeanFill</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrossTableTotalServlet</servlet-name>
        <url-pattern>/CrossTableTotal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrossTableTotalPDFServlet</servlet-name>
        <url-pattern>/CrossTablePDF</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JiaofeiExcelServlet</servlet-name>
        <url-pattern>/JiaofeiExcelServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JiaofeiWordServlet</servlet-name>
        <url-pattern>/JiaofeiWordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaleReportChart</servlet-name>
        <url-pattern>/SaleReportChart</url-pattern>
    </servlet-mapping>
</web-app>